{% load staticfiles %}
<html>
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link	rel="stylesheet"	href="{% static	'css/blog.css'	%}">
<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

<title>Proto Blog</title>
</head>
<body>
<div class="pg_hd">
<h1><a	href="">Proto Blog</a></h1>
</div>

<div	class="content	container">
<div	class="row">
<div	class="col-md-8">
{%	for	post	in	posts	%}
<div	class="post">
<div	class="date">
<p>published:	{{	post.published_date	}}</p>
</div>
<h1><a	href="">{{	post.title	}}</a></h1>
<p>{{	post.text|linebreaks	}}</p>
</div>
{%	endfor	%}
</div>
</div>
</div>


******************this is the original file***********************

</body>
</html>

